<form action="/empleados/empleados_registrados" method="POST">
    <input name="delete" type="hidden" value="<%= empleado.idEmpleado %>">
    <button type="submit" class="btn-large red" style="font-weight: 600;">Eliminar</button>
</form>
