<div class="col s12 m1 l13">
    <span style="font-weight: 600;"><a class="waves-effect waves-light btn-large modal-trigger red" href="#modal1?idSol=<%= solicitud.idSolicitud %>&fI=<%= solicitud.fechaInicio %>&fF=<%= solicitud.fechaFin %>">Rechazar</a></span>
  </div>