<a class="btn-large modal-trigger red" href="#modal1?empleado=<%= solicitud.idEmpleado %>">Rechazar</a>

<div id="modal1?empleado=<%= solicitud.idEmpleado %>" class="modal">
    <div class="modal-content">
        <h4>¿Seguro que quieres rechazar la solicitud de registro?</h4>
        <form action="/empleados/rechazar_empleados" method="POST">
            <input name="idEmpleado" type="number" value="<%= solicitud.idEmpleado %>" hidden>
            <button type="submit" class="btn green">Aceptar</button>
            <button class="btn red modal-close">Cancelar</button>
        </form>
    </div>
</div>


