<span style="font-weight: 500; color: red; font-size: 15px;">
    El numero de nomina que ingresaste ya existe
</span>
<script>
    let nomina_signup = document.getElementById("nomina_signup");
    nomina_signup.style = ("border: 1px solid; border-color: red;");
</script>