<span style="font-weight: 500; color: red; font-size: 15px;">
    Las credenciales que ingresaste son INCORRECTAS
</span>
<script>
    
    // let username = document.getElementById("email")
    // let password = document.getElementById("sign-in-password");
    // username.style = ("border: 1px solid; border-color: red;");
    // password.style = ("border: 1px solid; border-color: red;");
</script>