<span style="font-weight: 500; color: red; font-size: 15px;">
    El email que ingresaste ya existe
</span>
<script>
        let email_signup = document.getElementById("email_signup");
        email_signup.style = ("border: 1px solid; border-color: red;");
</script>