<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natgas</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">




</head>

<body style="background-color: #f8f9fe">

    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#">Mi perfíl</a></li>
        <li><a href="/logout">Cerrar Sesión</a></li>
    </ul>



    <nav style="background-color: #002b49;">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">
                <img src="../../Images/LogoTest.png" style="width: 150px; height:50px; padding-top: 10px;">
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li><a href="sass.html">General</a></li>
                <li><a href="badges.html">Indicadores</a></li>
                <li><a href="collapsible.html">Anuncios</a></li>
                <li><a href="collapsible.html">Solicitudes NGB</a></li>
                <li><a href="collapsible.html">Solicitudes Vacaciones</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Pablo Arroyo<i
                            class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <div class="user-view">
            <li>
                <div class="row">
                    <a href="#" style="display: inline-flex;">
                        <i class="material-icons medium">account_circle</i>
                        <h5 style="padding-left: 20px;">Pablo Arroyo</h5>
                    </a>
                </div>
            </li>
            <li><a href="#">General</a></li>
            <li><a href="#">Indicadores</a></li>
            <li><a href="#">Anuncios</a></li>
            <li><a href="#">Solicitudes NGB</a></li>
            <li><a href="#">Solicitudes Vacaciones</a></li>
            <li>
                <a href="/logout" style="display: inline-flex;">
                    <i class="material-icons small">exit_to_app</i>
                    <h6 style="padding-left: 5px;">Cerrar Sesión</h6>
                </a>
            </li>
        </div>
    </ul>
</body>

</html>