<% for (let indicador of indicadores) { %>
    <% for (let indicadorAnterior of mesAnterior) { %>
        <% if (indicador.TipoIndicadorID == 5) { %>
            <% if (indicadorAnterior.TipoIndicadorID == 5) { %>
                <div class="col s12 m4 l13">
                    <div class="card" style="border-radius: 1rem;">
                        <% if (indicador.Valor < indicadorAnterior.Valor) { %>
                            <h1 style="text-align: center; color: red; padding-top: 50px;">
                                <span>↓</span>
                                <%= indicador.Valor %>
                            </h1>
                        <% } else if (indicador.Valor > indicadorAnterior.Valor) { %>
                            <h1 style="text-align: center; color: green; padding-top: 50px;">
                                <span>↑</span>
                                <%= indicador.Valor %>
                            </h1>
                        <% } %>
                        <div class="card-content">
                            <h4 style="padding-bottom: 10px;">Mujeres</h4>
                            <a href="/reportes/modificar" style="color:azure; background-color: #007DBA; padding: 10px 20px; margin-top: 40rem; font-size: 15px; text-decoration: none; border-radius: .5rem;">Editar</a><br>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    <% } %>
<% } %>