<div class="row" style="margin-bottom: 10px;">
    <div class="col s12 m8 l13"></div>
    <div class="col s12 m2 l13">
        <a href="/anuncios/nuevo" class="waves-effect waves-light btn-large blue" style="border-radius: 10px; width: 200px; margin-bottom: 10px; margin-left: 20px;"><span style="font-weight: bolder; font-size: x-large;">+</span> Anuncio</a><br>
    </div>
</div>