<a class='dropdown-trigger' href='#' data-target='dropdown5'>Solicitudes</a>

<ul id='dropdown5' class='dropdown-content'>
    <li><%- include('../botonesNavbar/botonVacaciones.ejs') %></li>
    <li><%- include('../botonesNavbar/botonNGB.ejs') %></li>
</ul>