<ul id="dropdown1" class="dropdown-content">
    <li><%- include('botonPerfil.ejs') %></li>
    <li><a href="/logout">Cerrar Sesión</a></li>
</ul>

<li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><%= sesion.nombre + ' ' + sesion.apellidoPaterno %><i
    class="material-icons right">arrow_drop_down</i></a></li>