<a href="<% if (rol == 'lider') { %> 
    /vacaciones/solicitudes_vacaciones 
    <% } else if (rol == 'admin' || rol == 'recursosHumanos') { %>
        /vacaciones/solicitudes_estatus_vacaciones
    <% } else { %>
        /vacaciones/estatus_mis_vacaciones
    <% } %>">Solicitudes Vacaciones</a>