<a class='dropdown-trigger btn-large blue-grey darken' href='#' data-target='dropdown2'><span>Fecha </span><i class="material-icons right">arrow_drop_down</i></a>
<ul id='dropdown2' class='dropdown-content'>
    <li><a href="#!">Ene</a></li>
    <li><a href="#!">Feb</a></li>
    <li><a href="#!">Mar</a></li>
    <li><a href="#!">Abr</a></li>
    <li><a href="#!">May</a></li>
    <li><a href="#!">Jun</a></li>
    <li><a href="#!">Jul</a></li>
    <li><a href="#!">Ago</a></li>
    <li><a href="#!">Sep</a></li>
    <li><a href="#!">Oct</a></li>
    <li><a href="#!">Nov</a></li>
    <li><a href="#!">Dic</a></li>
</ul>