<%- include('includes/sideBarAdmin.ejs') %>

<div class="container">
    <h3 style="text-align: center; padding-bottom: 15px;">SOLICITUD DE REGISTRO</h3>
            <p style = "text-align: center">Nombre de empleado:</p>
    <div class="col s12 m2 l13">
        <a class="waves-effect waves-light btn" style="background-color:green; margin-bottom: 50px">Aceptar</a>
    </div>
</div>

<%- include('includes/footer.ejs') %>