<%- include('includes/sideBarOperador.ejs') %>
<h3 style="text-align: center;">ANUNCIOS</h3>


<div class="row">
    <div class="col s12 m2 l13"></div>
    <div class="col s12 m8 l13">
        <div class="card" style="border-radius: 15px;">
            <div class="card-content" style="padding: 10px;">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col s12 m8 l13">
                        <span class="card-title activator black-text text-darken-4" style="padding-left: 30px;"><h4>Titulo de Anuncio</h4></span>
                    </div>
                    <div class="col s12 m2 l13">
                        <span class="card-title activator black-text text-darken-4" style="margin-top: 10px;margin-left: 180px;"><h8>3/30/2022</h8></span>
                    </div>
                </div>
                
            </div>
            <div class="card-content" style="padding-top:0px; padding-left: 30px;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum reiciendis aut ducimus itaque! Cupiditate omnis, nulla explicabo, 
                    laborum, dolore tenetur deserunt consequatur nam unde amet molestiae ratione odit numquam iure?</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s12 m2 l13"></div>
    <div class="col s12 m8 l13">
        <div class="card" style="border-radius: 15px;">
            <div class="card-content" style="padding: 10px;">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col s12 m8 l13">
                        <span class="card-title activator black-text text-darken-4" style="padding-left: 30px;"><h4>Titulo de Anuncio</h4></span>
                    </div>
                    <div class="col s12 m2 l13">
                        <span class="card-title activator black-text text-darken-4" style="margin-top: 10px; margin-left: 180px;"><h8>3/30/2022</h8></span>
                    </div>
                </div>
                
            </div>
            <div class="card-content" style="padding-top:0px; padding-left: 30px;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum reiciendis aut ducimus itaque! Cupiditate omnis, nulla explicabo, 
                    laborum, dolore tenetur deserunt consequatur nam unde amet molestiae ratione odit numquam iure?</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s12 m2 l13"></div>
    <div class="col s12 m8 l13">
        <div class="card" style="border-radius: 15px;">
            <div class="card-content" style="padding: 10px;">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col s12 m8 l13">
                        <span class="card-title activator black-text text-darken-4" style="padding-left: 30px;"><h4>Titulo de Anuncio</h4></span>
                    </div>
                    <div class="col s12 m2 l13">
                        <span class="card-title activator black-text text-darken-4" style="margin-top: 10px; margin-left: 180px;"><h8>3/30/2022</h8></span>
                    </div>
                </div>
                
            </div>
            <div class="card-content" style="padding-top:0px; padding-left: 30px;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum reiciendis aut ducimus itaque! Cupiditate omnis, nulla explicabo, 
                    laborum, dolore tenetur deserunt consequatur nam unde amet molestiae ratione odit numquam iure?</p>
            </div>
        </div>
    </div>
    
</div>
<%- include('includes/footer.ejs') %>