<%- include('includes/sideBarAdmin.ejs') %>

<h4 id='vacaciones'  style="text-align: center; margin-bottom: 25px">Indicadores</h4>
<div class="row">
    <div class="col s12 m4 l13"></div>
    <div class="col s12 m2 l13">
        <a class='dropdown-trigger btn-large blue' href='#' data-target='dropdown1'>Mes</a>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">Jan</a></li>
            <li><a href="#!">Feb</a></li>
            <li><a href="#!">Mar</a></li>
            <li><a href="#!">Apr</a></li>
            <li><a href="#!">May</a></li>
            <li><a href="#!">Jun</a></li>
            <li><a href="#!">Jul</a></li>
            <li><a href="#!">Aug</a></li>
            <li><a href="#!">Sep</a></li>
            <li><a href="#!">Oct</a></li>
            <li><a href="#!">Nov</a></li>
            <li><a href="#!">Dec</a></li>
        </ul>
    </div>

</div>

<div class="row">
    <div class="col s12 m2 l13"></div>
    <div class="col s12 m8 l13">
        <div class="card" style="border-radius: 15px;">
            <div class="card-content" style="padding: 10px;">
                <div class="row">
                    <div class="col s12 m2 l13">
                        <a data-tooltip="Rechazada" style="color: black;">NPS</a>
                            <a class="btn-large tooltipped green" data-position="bottom" data-tooltip="Rechazada">76</a>
                            <p style="padding-left: 15px">NPS Score</p>
                    </div>
                </div>
            </div>
            <div class="card-image waves-effect waves-block waves-light">
            </div>
        </div>
    </div>
</div>