<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitudes de NGB</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>
<body>
    <ul id="slide-out" class="sidenav">
        <li>
        <div class="user-view">
            <div>
            <img src="https://pbs.twimg.com/media/DSA7yP3VAAAsiUM.png" style="width: 201px; height: 85px; margin-bottom: 20px;">
            </div>
            <div style="display: inline-flex;">
            <a href="#user"><i class="material-icons medium">account_circle</i></a>
            <h5 style="padding-left: 20px;">Diego Rodriguez</h5>
            </div> 
            <br>
            <ul>
            <li><a href="#">General</a></li>
            <li><a href="#">Indicadores</a></li>
            <li><a href="#">Anuncios</a></li>
            <li><a href="#">Banner</a></li>
            <li><a href="#">Registrar Empleados</a></li>
            </ul>
        </div>
        <br>
        </li>
        <div style="position: absolute; bottom: 10%;">
        <a href="#" style="padding-left: 50px; display: inline-flex;">
            <i class="material-icons small">exit_to_app</i>
            <h6 style="padding-left: 5px;">Cerrar Sesión</h6>
        </a>
        </div>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons small" style="padding: 20px;">menu</i></a>

    <h3 style="text-align: center;">SOLICITUDES DE VACACIONES</h3>
    <div>
        <div class="col s12 m2 l13" style="display: flex; justify-content: center; padding-top: 20px; padding-bottom: 20px;">
            <a class="waves-effect waves-light btn-large blue lighten2" style="border-radius: 10px; width: 600px">Solicitar mis Vacaciones</a>
        </div>
    </div>
    <div>
        <div class="col s12 m2 l13" style="display: flex; justify-content: center; padding-top: 20px; padding-bottom: 20px;">
        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn-large blue' data-target='dropdown1' style="border-radius: 15px; margin-right: 50px;">Mes</a>
        <a class='dropdown-trigger btn-large blue' data-target='dropdown2' style="border-radius: 15px;">Area</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">Enero</a></li>
            <li><a href="#!">Febrero</a></li>
            <li><a href="#!">Marzo</a></li>
            <li><a href="#!">Abril</a></li>
            <li><a href="#!">Mayo</a></li>
            <li><a href="#!">Junio</a></li>
            <li><a href="#!">Julio</a></li>
            <li><a href="#!">Agosto</a></li>
            <li><a href="#!">Septiembre</a></li>
            <li><a href="#!">Octubre</a></li>
            <li><a href="#!">Noviembre</a></li>
            <li><a href="#!">Diciembre</a></li>
        </ul>
        <ul id='dropdown2' class='dropdown-content'>
            <li><a href="#!">TYC</a></li>
            <li><a href="#!">NATDEV</a></li>
            <li><a href="#!">Commercio</a></li>
        </ul>
        </div>
    </div>
<div class="row">
    <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <div class="card" style="border-radius: 15px;">
                <p style="padding-top: 20px; padding-left: 20px;">10:35</p>
                <div class="card-content" style="padding-top: 1px; display: flex;">
                    <span class="card-title activator black-text text-darken-4"><h5 style="padding-right: 250px;">Solicitud Vacacion</h5></span>
                    <a class="waves-effect waves-light btn-large green lighten2" style="border-radius: 10px;">Aprovada</a>
                    <p style="padding-top: 15px; padding-left: 20px">Aprovada por Pablo Arroyo</p>
                </div>
                <div class="card-content center" style="padding-top: 1px;">
                    <p style="text-align: left;">Jul 15 - Jul 21</p>
                </div>
                
            </div>
        </div>      
</div>

<div class="row">
    <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <div class="card" style="border-radius: 15px;">
                <p style="padding-top: 20px; padding-left: 20px;">10:35</p>
                <div class="card-content" style="padding-top: 1px; display: flex;">
                    <span class="card-title activator black-text text-darken-4"><h5 style="padding-right: 250px;">Solicitud Vacacion</h5></span>
                    <a class="waves-effect waves-light btn-large red lighten2" style="border-radius: 10px;">Rechazada</a>
                    <p style="padding-top: 15px; padding-left: 20px">Rechazada por Pablo Arroyo</p>
                </div>
                <div class="card-content center" style="padding-top: 1px;">
                    <p style="text-align: left;">Abr 2 -Abr 6</p>
                </div>
                
            </div>
        </div>      
</div>

<div class="row">
    <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <div class="card" style="border-radius: 15px;">
                <p style="padding-top: 20px; padding-left: 20px;">10:35</p>
                <div class="card-content" style="padding-top: 1px; display: flex;">
                    <span class="card-title activator black-text text-darken-4"><h5 style="padding-right: 250px;">Solcitud Vacacion</h5></span>
                    <a class="waves-effect waves-light btn-large green lighten2" style="border-radius: 10px;">Aprovada</a>
                    <p style="padding-top: 15px; padding-left: 20px">Aprovada por Pablo Arroyo</p>
                </div>
                <div class="card-content center" style="padding-top: 1px;">
                    <p style="text-align: left;">May 22 - May 31</p>
                </div>
                
            </div>
        </div>      
</div>

    <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    M.AutoInit();
  });
</script>
</body>
</html>