<%- include('includes/sideBarAdmin.ejs') %>
<h4 class="center">Solicitudes de NGB</h4>

<div class="row">
    <div class="col s12 m2 l13"></div>

    <div class="col s12 m2 l13">
        <a class='dropdown-trigger btn-large blue-grey darken' href='#' data-target='dropdown2'><span>Fecha </span><i class="material-icons right">arrow_drop_down</i></a>
        <ul id='dropdown2' class='dropdown-content'>
            <li><a href="#!">Jan</a></li>
            <li><a href="#!">Feb</a></li>
            <li><a href="#!">Mar</a></li>
            <li><a href="#!">Apr</a></li>
            <li><a href="#!">May</a></li>
            <li><a href="#!">Jun</a></li>
            <li><a href="#!">Jul</a></li>
            <li><a href="#!">Aug</a></li>
            <li><a href="#!">Sep</a></li>
            <li><a href="#!">Oct</a></li>
            <li><a href="#!">Nov</a></li>
            <li><a href="#!">Dec</a></li>
        </ul>
    </div>
    <div class="col s12 m2 l13">
        <a class='dropdown-trigger btn-large blue-grey darken' href='#' data-target='dropdown3'><span>Area </span><i class="material-icons right">arrow_drop_down</i></a>
        <ul id='dropdown3' class='dropdown-content'>
            <li><a href="#!">TYC</a></li>
            <li><a href="#!">NATDEV</a></li>
            <li><a href="#!">Mant</a></li>
        </ul>
    </div>
    <div class="col s12 m2 l13"></div>
    <div class="col s12 m4 l13">
        <a href="#!"><h5><i class="material-icons left">file_download</i> Reporte de NGB</h5></a>
    </div>
    


</div>

<div class="row">
    <div class="col s12 m2 l13"></div>
    <div class="col s12 m8 l13">
        <div class="card" style="border-radius: 15px;">
            <div class="card-content" style="padding: 10px;">
                <div class="row">
                    <div class="col s12 m7 l13">
                        <span class="txt">
                            <h5 style="margin-left: 5%;">
                                <span style="font-weight: 600;">Fecha de solicitud:</span> Apr 09 2022
                            </h5>
                        </span>
                    </div>
                    <div class="col s12 m2 l13"></div>
                </div>
                <div class="row">
                    <div class="col s12 m5 l13">
                        <h6 style="margin-left: 7%;"><span style="font-weight: 600;">Fecha de uso:</span> Apr 09
                            2022</h6>
                    </div>
                    <div class="col s12 m8 l2"></div>
                    <div class="col s12 m1 l2">
                        <span style="font-weight: 600;"><a class="btn-large green">Aceptada</a></span> 
                    </div>
                    <div class="col s12 m2 l2">
                        <p>por Pablo Arroyo Montes Trejo</p>
                    </div>
                </div>
                <div class="row">
                    <h6 style="margin-left: 4%;">
                        <span style="font-weight: 600;">Empleado que solicitó:</span> Alejandro Salinas
                    </h6>
                </div>
            </div>
            <div class="card-image waves-effect waves-block waves-light">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m2 l13"></div>
    <div class="col s12 m8 l13">
        <div class="card" style="border-radius: 15px;">
            <div class="card-content" style="padding: 10px;">
                <div class="row">
                    <div class="col s12 m7 l13">
                        <span class="txt">
                            <h5 style="margin-left: 5%;">
                                <span style="font-weight: 600;">Fecha de solicitud:</span> Apr 09 2022
                            </h5>
                        </span>
                    </div>
                    <div class="col s12 m2 l13"></div>
                </div>
                <div class="row">
                    <div class="col s12 m5 l13">
                        <h6 style="margin-left: 7%;"><span style="font-weight: 600;">Fecha de uso:</span> Apr 09
                            2022</h6>
                    </div>
                    <div class="col s12 m8 l2"></div>
                    <div class="col s12 m1 l2">
                        <span style="font-weight: 600;"><a class="btn-large green">Aceptada</a></span> 
                    </div>
                    <div class="col s12 m2 l2">
                        <p>por Pablo Arroyo Montes Trejo</p>
                    </div>
                </div>
                <div class="row">
                    <h6 style="margin-left: 4%;">
                        <span style="font-weight: 600;">Empleado que solicitó:</span> Alejandro Salinas
                    </h6>
                </div>
            </div>
            <div class="card-image waves-effect waves-block waves-light">

            </div>
        </div>
    </div>
</div>

<%- include('includes/footer.ejs') %>