<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Operador</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>
<body>

    <ul id="slide-out" class="sidenav">
        <li>
        <div class="user-view">
            <div>
            <img src="https://pbs.twimg.com/media/DSA7yP3VAAAsiUM.png" style="width: 201px; height: 85px; margin-bottom: 20px;">
            </div>
            <div style="display: inline-flex;">
            <a href="#user"><i class="material-icons medium">account_circle</i></a>
            <h5 style="padding-left: 20px;">Jorge Mendoza</h5>
            </div> 
            <br>
            <ul>
            <li><a href="#">General</a></li>
            <li><a href="#">Indicadores</a></li>
            <li><a href="#">Anuncios</a></li>
            <li><a href="#">Solicitudes NGB</a></li>
            <li><a href="#">Estatus de Mis Vacaciones</a></li>
            </ul>
        </div>
        <br>
        </li>
        <div style="position: absolute; bottom: 10%;">
        <a href="#" style="padding-left: 50px; display: inline-flex;">
            <i class="material-icons small">exit_to_app</i>
            <h6 style="padding-left: 5px;">Cerrar Sesión</h6>
        </a>
        </div>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons small" style="padding: 20px;">menu</i></a>


    <h3 style="text-align: center;">BANNER</h3>


    <div class="row">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m4 l13">
            <div class="card" style="border-radius: 15px;">
                <div class="card-content" style="padding: 10px;">
                    <span class="card-title activator black-text text-darken-4 center "><h4>Reportes</h4></span>
                </div>
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="https://static5.depositphotos.com/1011268/467/i/600/depositphotos_4677784-stock-photo-blue-pie-chart-with-seventy.jpg" style="width: 300px; height: 200px; margin: 0 auto;">
                </div>
                <div class="card-content">
                    <p><a href="#">Ver Reportes</a></p>
                </div>
            </div>
        </div>


        <div class="col s12 m4 l13">
            <div class="card" style="padding-left: 10px; padding-right: 10px; border-radius: 15px; ">
                <div class="card-content" style="padding: 10px;">
                    <span class="card-title activator black-text text-darken-4 center "><h4>Anuncios</h4></span>
                </div>
                <div class="card" style="border-radius: 15px; height: 180px;">
                    <div class="card-content" >
                        <h5>TITULO ANUNCIO</h5>
                        <p>Contenido de Anuncio</p>
                    </div>
                </div>
                <div class="card-content">
                    <p><a href="#">Ver Anuncios</a></p>
                </div>
            </div>
        </div>
        
    </div>




    <div class="row">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m4 l13">
            <div class="card" style="border-radius: 15px;">
                <div class="card-content" style="padding: 10px;">
                    <span class="card-title activator black-text text-darken-4 center "><h5>Solicitudes de NGB</h5></span>
                </div>
                <div class="card-content center" style="padding-top: 1px;"">
                    <a class="waves-effect waves-light btn-large blue" style="border-radius: 10px;"><span style="font-weight: bolder; font-size: x-large;">+</span> Crear Solicitud</a>
                </div>
            </div>
        </div>


        <div class="col s12 m4 l13">
            <div class="card" style="border-radius: 15px;">
                <div class="card-content" style="padding: 10px;">
                    <span class="card-title activator black-text text-darken-4 center "><h5>Solicitudes de Vacaciones</h5></span>
                </div>
                <div class="card-content center" style="padding-top: 1px;">
                    <a class="waves-effect waves-light btn-large blue" style="border-radius: 10px;"><span style="font-weight: bolder; font-size: x-large;">+</span> Crear Solicitud</a>
                </div>
            </div>
        </div>
        
    </div>
    
    
  



    <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    M.AutoInit();
  });
</script>
</body>
</html>