<%- include('includes/sideBarOperador.ejs') %>
    <h3 style="text-align: center;">BANNER</h3>


    <div class="row">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m4 l13">
            <div class="card" style="border-radius: 15px;">
                <div class="card-content" style="padding: 10px;">
                    <span class="card-title activator black-text text-darken-4 center ">
                        <h4>Reportes</h4>
                    </span>
                </div>
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                        src="https://static5.depositphotos.com/1011268/467/i/600/depositphotos_4677784-stock-photo-blue-pie-chart-with-seventy.jpg"
                        style="width: 300px; height: 200px; margin: 0 auto;">
                </div>
                <div class="card-content">
                    <p><a href="#">Ver Reportes</a></p>
                </div>
            </div>
        </div>


        <div class="col s12 m4 l13">
            <div class="card" style="padding-left: 10px; padding-right: 10px; border-radius: 15px; ">
                <div class="card-content" style="padding: 10px;">
                    <span class="card-title activator black-text text-darken-4 center ">
                        <h4>Anuncios</h4>
                    </span>
                </div>
                <div class="card" style="border-radius: 15px; height: 180px;">
                    <div class="card-content">
                        <h5>TITULO ANUNCIO</h5>
                        <p>Contenido de Anuncio</p>
                    </div>
                </div>
                <div class="card-content">
                    <p><a href="#">Ver Anuncios</a></p>
                </div>
            </div>
        </div>

    </div>




    <div class="row">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m4 l13">
            <div class="card" style="border-radius: 15px;">
                <div class="card-content" style="padding: 10px;">
                    <span class="card-title activator black-text text-darken-4 center ">
                        <h5>Solicitudes de NGB</h5>
                    </span>
                </div>
                <div class="card-content center" style="padding-top: 1px;">
                <a class=" waves-effect waves-light btn-large blue" style="border-radius: 10px;"><span
                        style="font-weight: bolder; font-size: x-large;">+</span> Crear Solicitud</a>
                </div>
            </div>
        </div>


        <div class="col s12 m4 l13">
            <div class="card" style="border-radius: 15px;">
                <div class="card-content" style="padding: 10px;">
                    <span class="card-title activator black-text text-darken-4 center ">
                        <h5>Solicitudes de Vacaciones</h5>
                    </span>
                </div>
                <div class="card-content center" style="padding-top: 1px;">
                    <a class="waves-effect waves-light btn-large blue" style="border-radius: 10px;"><span
                            style="font-weight: bolder; font-size: x-large;">+</span> Crear Solicitud</a>
                </div>
            </div>
        </div>

    </div>
<%- include('includes/footer.ejs') %>