<%- include('includes/sideBarPromJF.ejs') %>

<div class="container">
  <h3 style="text-align: center; padding-bottom: 15px;">MI SOLICITUD DE NATGAS BLOCK</h3>
          <p style = "text-align: center">Fecha de la solicitud: dd/mm/aa</p>
  <h5 style = "text-align: center">Vacaciones disponibles:</h5>
  <h5 style = "text-align: center">7</h5>
  <div>
      <h5>Fecha inicio</h5>
      <input type="text" class="datepicker" placeholder="MM-DD-AAAA">
  </div>
  <div>
      <h5>Fecha fin</h5>
      <input type="text" class="datepicker" placeholder="MM-DD-AAAA">
  </div>
  <div>
      <h5>Fecha reanudación</h5>
      <input type="text" class="datepicker" placeholder="MM-DD-AAAA">
  </div>
  <h5>Suplente:</h5>
  <input placeholder="Ingresa el nombre aquí" id="first_name" type="text" class="validate">
  <br>
  <br>

  <div class="col s12 m8 l13"></div>
  <div class="col s12 m2 l13">
      <a class="waves-effect waves-light btn" style="background-color:green; margin-bottom: 50px">Enviar</a>
  </div>
</div>

<%- include('includes/footer.ejs') %>