<%- include('includes/sideBarOperador.ejs') %>

<div class="container">
    <h3 style="text-align: center; padding-bottom: 15px;">MI SOLICITUD DE NATGAS BLOCK</h3>
    <p style = "text-align: center">Fecha de la solicitud: dd/mm/aa</p>
    <h5 style = "text-align: center">Natgas Blocks disponibles:</h5>
    <h5 style = "text-align: center">4</h5>
    <p style = "text-align: center">Último Natgas Block solicitado: dd/mm/aa</p>
    
    <div>
        <h5>Fecha a solicitar</h5>
        <input type="text" class="datepicker" placeholder="MM-DD-AAAA">
    </div>

    <br>

    <div class="col s12 m8 l13"></div>
    <div class="col s12 m2 l13">
        <a class="waves-effect waves-light btn" style="background-color:green; margin-bottom: 50px">Enviar</a>
    </div>
</div>

<%- include('includes/footer.ejs') %>