<a href="/perfil" style="display: inline-flex;">
    <i class="material-icons medium">account_circle</i>
    <h5 style="padding-left: 20px;"><%= sesion.nombre + ' ' +sesion.apellidoPaterno + ' ' + sesion.apellidoMaterno%></h5>
</a>