<div class="row center">
    <div class="col s12 m2 l13"></div>
    <div class="col s12 m8 l13">
        <a class='btn-large blue' href='#'>
            <span style="font-weight: bold; font-size: large;">+</span>Crear Mi Solicitud
        </a>
    </div>
</div>