<span style="font-weight: 450; color: red;">Fecha fin debe ser posterior a la fecha de solicitud</span>
<script>
    let elemento = document.getElementById("FF");
    elemento.style = ("border: 1px solid; border-color: red;");
</script>