    <div class="row">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <div class="card " style="border-radius: 15px;">
                <div class="card-content" style="padding: 10px;">
                    <div class="row">
                        <div class="col s12 m7 l13">
                            <span class='txt'>
                                <h5 style="margin-left: 5%;">
                                    <span style="font-weight: 600;">Fecha de solicitud:</span> Apr 10 2022 
                                </h5>
                            </span>
                        </div>
                        <div class="col s12 m2 l13"></div>
                    </div>
                    <div class="row">
                        <div class="col s12 m7 l13">
                            <h6 style="margin-left: 5%;">
                                <span style="font-weight: 600;">Fecha Inicio:</span> Apr 15 2022 | <span style="font-weight: 600;">Fecha Fin:</span> Apr 25 2022 
                            </h6>
                        </div>
                        <div class="col s12 m3" style="display: inline-flex;">
                            <%- include('bloques/componentesBloque/botones/botonAceptado.ejs') %>
                            <span style="margin-left: 4%;"></span>
                            <%- include('bloques/componentesBloque/botones/botonRechazado.ejs') %>
                        </div>
                        
                    </div>
                    <div class="row">
                        <h6 style="margin-left: 4%;">
                            <span style="font-weight: 600;">
                                Empleado: 
                            </span>
                                AQUI VA NOMBRE |
                            <span style="font-weight: 600;">Suplente:</span> Camilo Chavez
                        </h6>
                    </div>
                </div>
                <div class="card-image waves-effect waves-block waves-light"></div>
            </div>
        </div>
    </div>