<a class='dropdown-trigger btn-large grey darken-1' href='#' data-target='dropdown3'><span>Area </span><i class="material-icons right">arrow_drop_down</i></a>
<ul id='dropdown3' class='dropdown-content'>
    <li><a href="#!">TYC</a></li>
    <li><a href="#!">NATDEV</a></li>
    <li><a href="#!">Mant</a></li>
</ul>