<a class='dropdown-trigger btn-large grey darken-1' href='#' data-target='dropdown2'><span>Fecha de uso</span><i class="material-icons right">arrow_drop_down</i></a>
<ul id='dropdown2' class='dropdown-content'>
    <li><a href="/natgas_blocks/solicitudes_estatus_natgas_block/">Todos</a></li>
    <li><a href="/natgas_blocks/solicitudes_estatus_natgas_block/Enero">Ene</a></li>
    <li><a href="/natgas_blocks/solicitudes_estatus_natgas_block/Febrero">Feb</a></li>
    <li><a href="/natgas_blocks/solicitudes_estatus_natgas_block/Marzo">Mar</a></li>
    <li><a href="/natgas_blocks/solicitudes_estatus_natgas_block/Abril">Abr</a></li>
    <li><a href="/natgas_blocks/solicitudes_estatus_natgas_block/Mayo">May</a></li>
    <li><a href="/natgas_blocks/solicitudes_estatus_natgas_block/Junio">Jun</a></li>
    <li><a href="/natgas_blocks/solicitudes_estatus_natgas_block/Julio">Jul</a></li>
    <li><a href="/natgas_blocks/solicitudes_estatus_natgas_block/Agosto">Ago</a></li>
    <li><a href="/natgas_blocks/solicitudes_estatus_natgas_block/Septiembre">Sep</a></li>
    <li><a href="/natgas_blocks/solicitudes_estatus_natgas_block/Octubre">Oct</a></li>
    <li><a href="/natgas_blocks/solicitudes_estatus_natgas_block/Noviembre">Nov</a></li>
    <li><a href="/natgas_blocks/solicitudes_estatus_natgas_block/Diciembre">Dic</a></li>
</ul>