<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitudes de NGB</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>
<body>
    <ul id="slide-out" class="sidenav">
        <li>
        <div class="user-view">
            <div>
            <img src="https://pbs.twimg.com/media/DSA7yP3VAAAsiUM.png" style="width: 201px; height: 85px; margin-bottom: 20px;">
            </div>
            <div style="display: inline-flex;">
            <a href="#user"><i class="material-icons medium">account_circle</i></a>
            <h5 style="padding-left: 20px;">Diego Rodriguez</h5>
            </div> 
            <br>
            <ul>
            <li><a href="#">General</a></li>
            <li><a href="#">Indicadores</a></li>
            <li><a href="#">Anuncios</a></li>
            <li><a href="#">Banner</a></li>
            <li><a href="#">Registrar Empleados</a></li>
            </ul>
        </div>
        <br>
        </li>
        <div style="position: absolute; bottom: 10%;">
        <a href="#" style="padding-left: 50px; display: inline-flex;">
            <i class="material-icons small">exit_to_app</i>
            <h6 style="padding-left: 5px;">Cerrar Sesión</h6>
        </a>
        </div>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons small" style="padding: 20px;">menu</i></a>

    <h4 id = 'vacaciones'>Solicitudes de NGB</h4>
    <div class = "row">
        <div class = "col s12 m4 l13"></div>
        <div class = "col s12 m2 l13">
            <a class='dropdown-trigger btn-large blue' href='#' data-target='dropdown1'>Fecha</a>
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">Jan</a></li>
                <li><a href="#!">Feb</a></li>
                <li><a href="#!">Mar</a></li>
                <li><a href="#!">Apr</a></li>
                <li><a href="#!">May</a></li>
                <li><a href="#!">Jun</a></li>
                <li><a href="#!">Jul</a></li>
                <li><a href="#!">Aug</a></li>
                <li><a href="#!">Sep</a></li>
                <li><a href="#!">Oct</a></li>
                <li><a href="#!">Nov</a></li>
                <li><a href="#!">Dec</a></li>
              </ul>
        </div>
        <div class = "col s12 m2 l13">
            <a class='dropdown-trigger btn-large blue' href='#' data-target='dropdown2'>Area</a>
            <ul id='dropdown2' class='dropdown-content'>
                <li><a href="#!">TYC</a></li>
                <li><a href="#!">NATDEV</a></li>
                <li><a href="#!">Mantenimiento</a></li>
              </ul>
        </div>
        <div class = "col s12 m4 l13">
            <a href="#!">Descargar</a>
        </div>
        

    </div>

    <div class="row">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <div class="card" style="border-radius: 15px;">
                <div class="card-content" style="padding: 10px;">
                    <span class="card-title activator black-text text-darken-4 center "><h6 id = 'hr'>10:15</h6></span>
                    <div class="row">
                        <div class="col s12 m7 l13">
                            <span class = 'txt'><h5>Solicitud Jul 12</h5></span>
                        </div>
                        <div class="col s12 m2 l13">
                            <a class="btn-large tooltipped green" data-position="bottom" data-tooltip="Rechazada">Aceptada</a>
                        </div>
                        <div class="col s12 m2 l13">
                            <p style="padding-left: 15px">Aceptada por Pablo Arroyo</p>
                        </div>
                    </div>
                    <span class = 'txt2'><h6>Jul 12</h6></span> 
                </div>
                <div class="card-image waves-effect waves-block waves-light">
                   
                </div>
                <!--<div class="card-content">
                    <p><a href="#">Ver Reportes</a></p>
                </div>-->
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col s12 m2 l13"></div>
            <div class="col s12 m8 l13">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-content" style="padding: 10px;">
                        <span class="card-title activator black-text text-darken-4 center "><h6 id = 'hr'>10:15</h6></span>
                        <div class="row">
                            <div class="col s12 m7 l13">
                                <span class = 'txt'><h5>Solicitud Abril 10</h5></span>
                            </div>
                            <div class="col s12 m2 l13">
                                <a class="btn-large tooltipped green" data-position="bottom" data-tooltip="Aceptada">Aceptada</a>
                            </div>
                            <div class="col s12 m2 l13">
                                <p style="padding-left: 15px">Aprobada por Pablo Arroyo</p>
                            </div>
                        </div>
                        <span class = 'txt2'><h6>Abr 10</h6></span>
                         
                    </div>
                    <div class="card-image waves-effect waves-block waves-light">
                       
                    </div>
                    <!--<div class="card-content">
                        <p><a href="#">Ver Reportes</a></p>
                    </div>-->
                </div>
            </div>
            <div class="col s12 m5 l13">
                <div class="card blue darken-3" style="border-radius: 10px; margin-left: 60px;">
                        <div class="card-image waves-effect waves-block waves-light">
                    </div>
                    <!--<div class="card-content">
                        <p><a href="#">Ver Reportes</a></p>
                    </div>-->
                </div>
            </div>
        </div>


            <div class="row">
                <div class="col s12 m2 l13"></div>
                <div class="col s12 m8 l13">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-content" style="padding: 10px;">
                            <span class="card-title activator black-text text-darken-4 center "><h6 id = 'hr'>10:15</h6></span>
                            <div class="row">
                                <div class="col s12 m7 l13">
                                    <span class = 'txt'><h5>Solicitud Feb 10</h5></span>
                                </div>
                                <div class="col s12 m2 l13">
                                    <a class="btn-large tooltipped green" data-position="bottom" data-tooltip="Rechazada">Aceptada</a>
                                </div>
                                <div class="col s12 m2 l13">
                                    <p style="padding-left: 15px">Aprobada por Pablo Arroyo</p>
                                </div>
                            </div>
                            <span class = 'txt2'><h6>Feb 10</h6></span> 
                        </div>
                        <div class="card-image waves-effect waves-block waves-light">
                           
                        </div>
                        <!--<div class="card-content">
                            <p><a href="#">Ver Reportes</a></p>
                        </div>-->
                    </div>
                </div>
            </div>

                


     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <script>
 
     document.addEventListener('DOMContentLoaded', function() {
         M.AutoInit();
     });
</script>
</body>
</html>