<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Anuncio</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>
<body>

    
    <ul id="slide-out" class="sidenav">
        <li>
        <div class="user-view">
            <div>
            <img src="https://pbs.twimg.com/media/DSA7yP3VAAAsiUM.png" style="width: 201px; height: 85px; margin-bottom: 20px;">
            </div>
            <div style="display: inline-flex;">
            <a href="#user"><i class="material-icons medium">account_circle</i></a>
            <h5 style="padding-left: 20px;">Diego Rodriguez</h5>
            </div> 
            <br>
            <ul>
            <li><a href="#">General</a></li>
            <li><a href="#">Indicadores</a></li>
            <li><a href="#">Anuncios</a></li>
            <li><a href="#">Banner</a></li>
            <li><a href="#">Registrar Empleados</a></li>
            </ul>
        </div>
        <br>
        </li>
        <div style="position: absolute; bottom: 10%;">
        <a href="#" style="padding-left: 50px; display: inline-flex;">
            <i class="material-icons small">exit_to_app</i>
            <h6 style="padding-left: 5px;">Cerrar Sesión</h6>
        </a>
        </div>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons small" style="padding: 20px;">menu</i></a>

    <h3 style="text-align: center;">Crear Anuncio</h3>


    <div class="row">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            
            <div class="input-field">
                <textarea id="textareaTitulo" class="materialize-textarea"></textarea>
                <label for="textareaTitulo" class='active'>Titulo</label>
            </div>
            <div class="input-field">
                <textarea id="textareaTexto" class="materialize-textarea"></textarea>
                <label for="textareaTexto" class='active'>Escribe aquí...</label>
            </div>
            <form action="#">
                <div class="file-field input-field">
                  <div class="btn blue">
                    <span>Subir Imagen o Archivo</span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
            </form>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">date_range</i>
                            <input type="text" class="datepicker" placeholder="Selecciona la Fecha de Expiración">
                        </div>
                    </div>
                </form>
                <a class="waves-effect waves-light btn" style="margin-top: 20px; background-color: green;">Enviar</a>
            </div>
            

            
    


    
    
  



    <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    M.AutoInit();
  });
</script>
</body>
</html>