<%- include('../includes/sideBarGeneral.ejs') %>

<h4 class="center">Mis Solicitudes de Vacaciones</h4>

<div class="row center">
    <div class="col s12 m2 l13"></div>
    <div class="col s12 m8 l13">
        <%- include('componentes/botonCrearSol.ejs') %>
    </div>
</div>

<% if (solicitudes.length > 0) { %>
    <%- include('componentes/cartaEstatusMisSolVac.ejs') %>
<% } else { %>
    <br>
    <br>
    <br>
    <h5 class="center">No tienes solicitudes de vacaciones</h5>
<% } %>
<%- include('../includes/footer.ejs') %>