<div class="center">
    <div style="background-color:  #b3e5fc; width: fit-content; border-radius: 5px; padding-left: 14.4vw; padding-right: 14.4vw; padding-top: 10px; padding-bottom: 10px; border: 1px solid; border-color: #01579b; display: inline-flex;">
        <span style="font-weight: 600; color: #01579b;"> Haz CANCELADO la solicitud de vacación con fecha de inicio: <%= infoSolicitud.fechaInicio.toString().substr(4,12) %> y fecha fin: <%= infoSolicitud.fechaFin.toString().substr(4,12) %></span> <br>
    </div>  
</div>