<span style="font-weight: 450; color: red;">El número de días seleccionado sobrepasa el numero de vacaciones disponibles
    totales</span>
<script>
    let fechaI = document.getElementById("FI");
    fechaI.style = ("border: 1px solid; border-color: red;");

    let fechaF = document.getElementById("FF");
    fechaF.style = ("border: 1px solid; border-color: red;");
</script>