<span style="font-weight: 450;color: red;">Fecha inicio debe ser posterior a la fecha de solicitud</span>
<script>
    let elemento = document.getElementById("FI");
    elemento.style = ("border: 1px solid; border-color: red;");
</script>