<div class="center">
    <div class="green lighten-4" style="width: fit-content; border-radius: 5px; padding-left: 9.8vw; padding-right: 9.8vw; padding-top: 10px; padding-bottom: 10px; border: 1px solid; border-color: green; display: inline-flex;">
        <span style="font-weight: 600; color: green;"> Has ACEPTADO la solicitud de vacación de <%= infoSolicitud.nombre + ' ' + infoSolicitud.apellidoPaterno + ' ' + infoSolicitud.apellidoMaterno%> con fecha de inicio: <%= infoSolicitud.fechaInicio.getDate() + '/' + infoSolicitud.fechaInicio.getMonth() + '/' + infoSolicitud.fechaInicio.getFullYear()%> y fecha fin: <%= infoSolicitud.fechaFin.getDate() + '/' + infoSolicitud.fechaFin.getMonth() + '/' + infoSolicitud.fechaFin.getFullYear()%></span> <br>
    </div>  
</div>