<div class="center" style="padding-left: 125px">
    <span style="font-weight: 450; color: red;">
        Fecha incorrecta
    </span>
</div>
<script>
    let elemento = document.getElementById("expiracion");
    elemento.style = ("border: 1px solid; border-color: red; width: 200px");
</script>
