<div class="row">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <div class="card medium"  style="border-radius: 15px; height: 300px;">
                <div class="row">
                    <div class="card-content center" style="padding: 45px;">
                        <div class="col s12 m2 l13"></div>
                        <div class="col s12 m8 l13">
                            <!--IMAGEN DE BASE DE DATOS DEL BANNER-->
                            <img src="<%= banner.recursoDigital %>" style="width: fit-content; height: 200px;">
                        </div>
                        <div class="col s12 m2 l13">
                            <div class="right-align" style="padding-top: 20px;">
                                <%- include('../botones/botonEliminarBanner.ejs') %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>