
    <div class="green lighten-4" style="position: absolute; width: fit-content; border-radius: 5px; padding-left: 7vw; padding-right: 7vw; padding-top: 10px; padding-bottom: 10px; border: 1px solid; border-color: green; display: inline-flex; margin-top: 1em">
        <span style="font-weight: 600; color: green;">Banner creado exitosamente</span>
    </div>  
