<form action="/usuarios" method="POST">
    <input name="delete" type="hidden" value="<%= idEmpleado %>">
    <button type="submit" style="background-color: white; border: 0; cursor: pointer;">
        <i class="medium material-icons red-text" type="submit">delete</i>
    </button>
</form>
