<div class="center">
    <div class="red lighten-4" style="width: fit-content; border-radius: 5px; padding-left: 7vw; padding-right: 7vw; padding-top: 10px; padding-bottom: 10px; border: 1px solid; border-color: green; display: inline-flex;">
        <span style="font-weight: 600; color: red;">Ya hay un Indicador de este tipo para este Mes!</span>
    </div>  
</div>   