<div class="col s12 m4 l13">
    <div class="card medium" style="border-radius: 15px;">
        <div class="card-content" style="padding: 10px;">
            <span class="card-title activator black-text text-darken-4 center ">
                <h4>Reportes</h4>
                <li class="divider"></li>
            </span>
        </div>
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://static5.depositphotos.com/1011268/467/i/600/depositphotos_4677784-stock-photo-blue-pie-chart-with-seventy.jpg" style="width: 300px; height: 200px; margin: 0 auto;">
        </div>
        <div class="card-content">
            <p><a href="#">Ver Reportes</a></p>
        </div>
    </div>
</div> 