<%- include('../includes/sideBarAdmin.ejs') %>
    <h3 style="text-align: center;">Banners</h3>

    <div class="row">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <div class="right-align" style="padding-top: 20px;">
                <button class="btn waves-effect waves-light blue" action="#" style="margin-bottom: 10px;">
                    <i class="material-icons left">add</i>
                    <span>Agregar</span>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <div class="card medium"  style="border-radius: 15px; height: 300px;">
                <div class="row">
                    <div class="card-content center" style="padding: 45px;">
                        <div class="col s12 m2 l13"></div>
                        <div class="col s12 m8 l13">
                            <!--IMAGEN DE BASE DE DATOS DEL BANNER-->
                            <img src="https://www.milenio.com/uploads/media/2019/11/11/foto-renata-quintanar-2.jpg" style="width: fit-content; height: 200px;"> 
                        </div>
                        <div class="col s12 m2 l13">
                            <div class="right-align" style="padding-top: 20px;">
                                <button class="btn waves-effect waves-light red" action="#" style="margin-bottom: 50px;">
                                    <span>Eliminar</span>
                                </button>
                            </div> 
                        </div>      
                    </div>
                </div>
            </div>     
        </div>
    </div>


    <div class="row">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <div class="card medium"  style="border-radius: 15px; height: 300px;">
                <div class="row">
                    <div class="card-content center" style="padding: 45px;">
                        <div class="col s12 m2 l13"></div>
                        <div class="col s12 m8 l13">
                            <!--IMAGEN DE BASE DE DATOS DEL BANNER-->
                            <img src="https://storage.googleapis.com/natgas/eds/eds-gto-mexico-japon_large.jpg" style="width: fit-content; height: 200px;"> 
                        </div>
                        <div class="col s12 m2 l13">
                            <div class="right-align" style="padding-top: 20px;">
                                <button class="btn waves-effect waves-light red" action="#" style="margin-bottom: 50px;">
                                    <span>Eliminar</span>
                                </button>
                            </div> 
                        </div>         
                    </div>
                </div>
            </div>     
        </div>
    </div>



<%- include('../includes/footer.ejs') %>