<% for (let ngb of ngbsPorAceptar) { %>  
    <div class="row">
        <div class="col s12 m2 l13"></div>
        <div class="col s12 m8 l13">
            <div class="card" style="border-radius: 15px;">
                <div class="card-content" style="padding: 10px;">
                    <div class="row">
                        <div class="col s12 m7 l13">
                            <span class="txt">
                                <h5 style="margin-left: 1.9vw;">
                                    <span style="font-weight: 600;">Fecha de solicitud:</span>
                                    <%= ngb.fechaSolicitud.getDate() + '/' + ngb.fechaSolicitud.getMonth() + '/' + ngb.fechaSolicitud.getFullYear() %>
                                </h5>
                            </span>
                        </div>
                        <div class="col s12 m2 l13"></div>
                    </div>

                    <div class="row">
                        <div class="col s12 m7 l13">
                            <h6 style="margin-left: 5%;"><span style="font-weight: 600;">Fecha de uso:</span>
                                <%= ngb.fechaUsoNGB.getDate() + '/' + ngb.fechaUsoNGB.getMonth() + '/' + ngb.fechaUsoNGB.getFullYear() %>
                            </h6>
                        </div>
                        <div class="col s12 m2 l13"></div>
                        <div class="col s12 m1 l13">
                                <%- include('../bloques/componentesBloque/botones/botonAceptado.ejs', {ngb: ngb}) %>
                            
                        </div>
                    </div>
                    <div class="row">
                        <h6 style="margin-left: 2.5vw;">
                            <span style="font-weight: 600;">Empleado que solicitó:</span>
                            <%= ngb.Quien_solicita + " " + ngb.qsApellidoPaterno + " " + ngb.qsApellidoMaterno %>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>