<span style="font-weight: 450; color: red;">La fecha de uso del NGB no puede ser sábado ni domingo</span>
<script>
    let fechaUso = document.getElementById("fechaUso");
    fechaUso.style = ("border: 1px solid; border-color: red;");
</script>