<a class='btn-large blue' href='/banners/agregar_banner'>
    <i class="material-icons left">add</i>Agregar
</a>


<!-- <button class="btn waves-effect waves-light blue" action="/banners/agregar_banners" style="margin-bottom: 10px;">
    <i class="material-icons left">add</i>
    <span>Agregar</span>
</button> -->
