<div class="center">
    <div class="red" style="width: fit-content; border-radius: 5px; padding-left: 4.25vw; padding-right: 4.25vw; padding-top: 1vw; padding-bottom: 1vw; border: 1px solid; border-color: red; display: inline-flex;">
        <span style="font-weight: 600; color: black;">El anuncio no fue modificado debido a fecha incorrecta.</span>
    </div>  
</div>