<div class="col s12 m1 l13 ">
    <span style="font-weight: 600;"><a class="btn-large red">Rechazada</a></span>
</div>

<!-- <div class="col s12 m1 l13">
    <span style="font-weight: 600;"><a class="card-panel red white-text">Rechazada</a></span>
</div> -->