<!-- <div class="col s12 m3 l13 ">
    <span style="font-weight: 600;"><div class="grey" style="width: fit-content; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px; color: white; margin-left: 0.5vw;">Sin Estatus</div></span>
</div> -->

<div class="col s12 m3 l13 ">
    <span style="font-weight: 600;"><a style="pointer-events: none;" class="btn-large grey">Sin Estatus</a></span>
</div>