<div class="col s12 m1 l13 ">
    <span style="font-weight: 600;"><div class="green" style="width: fit-content; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px; color: white;  margin-left: 0.5vw;">Aceptada</div></span>
</div>