<%- include('../includes/sideBarGeneral.ejs') %>
<h4 class="center">Solicitudes de registro de empleados</h4>
<%- include('componentes/botones/botonConsultarEmpleados.ejs') %>





<%- include('../includes/footer.ejs') %>