<%- include('../includes/sideBarGeneral.ejs') %>
<h4 class="center">Solicitudes de registro de empleados</h4>
<%- include('componentes/botones/botonConsultarEmpleados.ejs') %>

<% if (solicitudes.length > 0) { %>
    <% for (let solicitud of solicitudes) { %>
        <%- include('componentes/cartas/cartaEmpleadosSinRegistro.ejs', {solicitud: solicitud}) %>
    <% } %>
<% } %>

<%- include('../includes/footer.ejs') %>