<a class="waves-effect waves-light btn-large blue-grey lighten2" style="border-radius: 10px;" href="
<% if(rol =='lider') { %>
    /natgas_blocks/solicitudes_natgas_block
<% } else if (rol == 'admin' || rol == 'recursosHumanos') { %>
    /vacaciones/solicitudes_estatus_natgas_block
<% } %>">Solicitudes</a>