<div class="card-content center" style="padding: 10px;">
    <a class=" waves-effect waves-light btn-large light-blue darken-3" style="border-radius: 10px; margin-top: 30px" href="/vacaciones/solicitar_mis_vacaciones"><span
style="font-weight: bolder; font-size: x-large;" >+</span> Crear Solicitud</a>
</div>