<div class="card-content center" style="padding-top: 1px;">
    <a class="waves-effect waves-light btn-large light-blue darken-3" style="border-radius: 10px; width: 200px; "><span
        style="font-weight: bolder; font-size: x-large;" href="/vacaciones/solicitudes_vacaciones">+</span> Crear Solicitud</a>
  </div>