<div class="center">
    <div style="background-color: #b3e5fc; width: fit-content; border-radius: 5px; padding-left: 17.2vw; padding-right: 17.2vw; padding-top: 5px; padding-bottom: 5px; border: 1px solid; border-color: #01579b; display: inline-flex;">
        <span style="font-weight: 600; color: #01579b;">El/La empleado/a fue modificado/a exitosamente</span>
    </div>  
</div>