<div class="center">
    <div style="background-color: #c8e6c9; width: fit-content; border-radius: 5px; padding-left: 17vw; padding-right: 17vw; padding-top: 5px; padding-bottom: 5px; border: 1px solid; border-color: green; display: inline-flex;">
        <span style="font-weight: 600; color: green;"> Se ha registrado a <%= infoEmpleado.nombre + ' ' + infoEmpleado.apellidoPaterno + ' ' + infoEmpleado.apellidoMaterno + ' ' %> dentro de la plataforma exitosamente </span>
    </div>  
</div>